DEBUG = False

DATABASE_FILE = "/home/user/wal.db"

# Add a command that, if fails, we dont registe activity. This way, if you only
# want to register activity for work, closing Slack can stop logging activity.
# ACTIVITY_FILTER_CMD = "ps aux | grep slac[k]"
ACTIVITY_FILTER_CMD = None

LEAVE_DAYS = ['2021-05-17']

FIVE_MIN = 5 * 60
FIVTEEN_MIN = 15 * 60
ALLOW_IDLE_TIME = FIVE_MIN

IS_ACTIVE_WHERE = (
    f"(idle < {ALLOW_IDLE_TIME} or (active_win LIKE 'Meet%' and idle < {FIVTEEN_MIN}))"
)

IGNORE_PATTERNS = ['%Race – Emilia Romagna Grand Prix%', '%WeeChat%']

# Order is important, latter items can override former
PATTERNS_CATEGORIES = [
    # Browesers
    ("%Firefox%", "Firefox (uncategorized)"),
    # Browser sites overrides
    ("%DuckDuckGo%", "Firefox - DuckDuckGo"),
    ("%Pull Request%", "Firefox - GitHub Pull Request"),
    # Other apps
    ("%bash%", "Terminal (uncategorized)"),
    ("%VIM%", "VIM"),
    ("Slack%", "Slack"),
    ("%Signal%", "Signal"),
]

NEEDED_PACKAGES = ["xprintidle", "xdotool"]

system_interface = system.LinuxX
